{% doc %}
  Renders the predictive search form and an empty results container that can be
  populated via JavaScript.

  @param {string} [context] - Optional context for the predictive search

  @example
  {% render 'component-predictive-search' %}
{% enddoc %}
<predictive-search x-ref="predictiveSearch">
  <form action="{{ routes.search_url }}" method="get" role="search">
    <input
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-results"
      aria-haspopup="listbox"
      aria-autocomplete="list"
      placeholder="Search"
      x-model="searchTerm"
      x-ref="searchInput"
      @focus="$event.target.select()"
    >
    <input name="options[prefix]" type="hidden" value="last">

    <button
      type="reset"
      class="reset__button"
      aria-label="Clear search term"
      @click="searchTerm = ''; $refs.predictiveSearch.clearSearch($event)"
      x-show="searchTerm.length > 0"
      x-transition
      x-cloak
    >
      {{- 'icon-close.svg' | inline_asset_content -}}
    </button>
    <button aria-label="Search">
      {{- 'icon-search.svg' | inline_asset_content -}}
    </button>
  </form>
  <div id="predictive-search-wrapper" tabindex="-1">
    <div class="predictive-search__loading hidden">
      {{ 'icon-loader.svg' | inline_asset_content }}
    </div>
    <div id="predictive-search"></div>
  </div>
  {% if context == 'header' %}
    <div
      id="predictive-search-overlay"
      x-on:click="searchOpen = false"
      x-transition
      x-cloak
      x-show="searchOpen"
      :style="{ opacity: searchOpen ? 1 : 0 }"
      class="predictive-search-overlay"
    ></div>
  {% endif %}
</predictive-search>
