{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_badge: {String} The setting either show the blog badge or not.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
  <div class="article-card-wrapper card-wrapper underline-links-hover">
    <div class="card article-card {% if article.image and show_image %} card--media{% else %} card--text{% endif %}">
      <div class="card__inner">
        {%- if show_image == true and article.image -%}
          <a href="{{ article.url }}" class="article-card__image-wrapper card__media">
            <div class="article-card__image--medium">
              <img
                srcset="
                  {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w
                "
                src="{{ article.image.src | image_url: width: 533 }}"
                alt="{{ article.image.src.alt | escape }}"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                class="article-card__image"
              >
              {%- if show_badge -%}
                <div class="card__badge-wrapper">
                  <div class="card__badge article-card__badge ">
                    <span class="badge">{{ 'blogs.article.blog' | t }}</span>
                  </div>
                </div>

              {%- endif -%}
            </div>
          </a>
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading{% if show_excerpt %} h2{% endif %}">
              <a href="{{ article.url }}" class="article-card__title">
                {{ article.title | truncate: 50 | escape }}
              </a>
            </h3>
            <div class="article-card__info">
              {%- if show_date -%}
                <p class="article-card__date">{{ article.published_at | time_tag: '%B %Y' }}</p>
              {%- endif -%}
              {%- if show_author -%}
                <p class="article-card__author">{{ article.author }}</p>
              {%- endif -%}
            </div>
            {%- if show_excerpt -%}
              {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                <p class="article-card__excerpt">
                  {%- if article.excerpt.size > 0 -%}
                    {{ article.excerpt | strip_html | truncatewords: 30 }}
                  {%- else -%}
                    {{ article.content | strip_html | truncatewords: 30 }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
