{% comment %} DYNAMIC STYLES {% endcomment %}
{%- style -%}
  .collection-filters-wrapper {
    display: flex;
    {%- if section.settings.enable_filtering and section.settings.filter_type == "vertical" -%}
      flex-direction: row;
    {%- elsif section.settings.enable_filtering and section.settings.filter_type == "horizontal" -%}
      flex-direction: column;
    {% else %}
      flex-direction: column;
    {%- endif -%}
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat({{ section.settings.columns_desktop }}, 1fr);
  }

  #product-grid-{{ section.id }} {
    position: relative;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 1200px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 990px) {
    .product-grid {
      grid-template-columns: repeat({{ section.settings.columns_mobile }}, 1fr);
    }
  }

  /* Button styling for product grid */
  .product-grid-{{section.id}} .product-grid .quick-add__submit {
    color: {{ section.settings.button_text_color }};
    background-color: {{ section.settings.button_background_color }};
    border-color: {{ section.settings.button_border_color }};
    transition: all 0.2s ease;
  }

  .product-grid-{{section.id}} .quick-add__submit:hover {
    background-color: {{ section.settings.button_background_color | color_modify: 'alpha', 0.8 }};
  }

  .product-grid-{{section.id}} .quick-add__submit:after {
    transition: box-shadow 0.2s ease;
  }
{%- endstyle -%}

{% comment %} COMPONENT STYLES {% endcomment %}
{{ 'component-product-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
{{ 'component-pagination.css' | asset_url | stylesheet_tag }}
{{ 'section-collection.css' | asset_url | stylesheet_tag }}

{%- if section.settings.quick_add == 'standard' -%}
  {{ 'component-quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'component-quick-add.js' | asset_url }}" type="module"></script>
  <script src="{{ 'component-modal-opener.js' | asset_url }}" type="module"></script>
{%- endif -%}

<div class="color-{{ section.settings.color_scheme }} collection-page__wrapper">
  <div class="page-width">
    <div class="collection-hero">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">{{ collection.title }}</h1>
    </div>
  </div>
  <div class="collection-info-wrapper section-{{ section.id }}-padding">
    <collection-info
      data-section="{{ section.id }}"
    >
      <div class="filter-type-{{ section.settings.filter_type | escape | downcase }}">
        {%- paginate collection.products by section.settings.products_per_page -%}
          <div class="main-content">
            <div class="collection-filters-wrapper">
              {%- if section.settings.enable_filtering and section.settings.filter_type == 'vertical' -%}
                {% render 'component-filters-sidebar',
                  results: collection,
                  collapse_filters: section.settings.collapse_filters,
                  show_filter_count: section.settings.show_filter_count
                %}
              {% endif %}
              <div class="product-grid-container">
                <div class="sorting-wrapper">
                  {%- if section.settings.enable_filtering and section.settings.filter_type == 'vertical' -%}
                    <div class="mobile-filters-drawer large-up-hide">
                      {%- render 'component-filters-drawer',
                        results: collection,
                        enable_sorting: section.settings.enable_sorting,
                        enable_filtering: section.settings.enable_filtering,
                        show_filter_count: section.settings.show_filter_count,
                        color_scheme: section.settings.color_scheme,
                        section_id: section.id,
                        context: 'collection'
                      -%}
                    </div>
                  {%- endif -%}
                  {%- if section.settings.enable_filtering and section.settings.filter_type == 'horizontal' -%}
                    <div class="horizontal-filters__parent-wrapper">
                      {% render 'component-filters-horizontal',
                        results: collection,
                        show_filter_count: section.settings.show_filter_count
                      %}
                      <div class="mobile-horizontal-filter large-up-hide">
                        {%- render 'component-filters-drawer',
                          results: collection,
                          enable_sorting: section.settings.enable_sorting,
                          enable_filtering: section.settings.enable_filtering,
                          show_filter_count: section.settings.show_filter_count,
                          color_scheme: section.settings.color_scheme,
                          section_id: section.id,
                          context: 'collection'
                        -%}
                      </div>
                    </div>
                  {% elsif section.settings.enable_filtering and section.settings.filter_type == 'drawer' %}
                    <div class="horizontal-filters__parent-wrapper">
                      {% render 'component-filters-drawer',
                        results: collection,
                        enable_sorting: section.settings.enable_sorting,
                        enable_filtering: section.settings.enable_filtering,
                        show_filter_count: section.settings.show_filter_count,
                        color_scheme: section.settings.color_scheme,
                        section_id: section.id,
                        context: 'collection'
                      %}
                    </div>
                  {% endif %}
                  <div class="child-sorting-wrapper">
                    {%- if section.settings.enable_sorting -%}
                      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                      <div id="sort-by-{{ section.id }}" class="facet-filters__field small-hide">
                        <h2 class="facet-filters__label">
                          <label for="SortBy">Sort by:</label>
                        </h2>
                        <select
                          data-render-section="filters-form"
                          name="sort_by"
                          {% if section.settings.filter_type == 'drawer' %}
                            form="filters-form-drawer"
                          {% elsif section.settings.filter_type == 'horizontal' or section.settings.filter_type == 'vertical' %}
                            form="filters-form"
                          {% endif %}
                          id="SortBy"
                          class="facet-filters__sort"
                          data-track-content-type="sort"
                        >
                          {%- for option in collection.sort_options -%}
                            <option
                              value="{{ option.value | escape }}"
                              data-track-item-id="{{ option.value | handleize }}"
                              data-track-item-name="{{ option.name | escape }}"
                              {% if option.value == sort_by %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ option.name | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
                      </div>
                    {%- endif -%}
                    <div class="item-counts-wrapper">
                      <div id="results-count-{{ section.id }}" class="results-count">
                        {%- if collection.products_count == collection.all_products_count -%}
                          {{ collection.products_count }} products
                        {% else %}
                          {{ collection.products_count }} of {{ collection.all_products_count }}
                        {% endif %}
                      </div>
                      <div id="loading-spinner-{{ section.id }}" class="loading-overlay__spinner"></div>
                    </div>
                  </div>
                </div>

                <div id="active-filter-group-{{ section.id }}" class="active-filter-group__item-wrapper">
                  {% liquid
                    assign has_active_filters = false
                    for f in collection.filters
                      unless f.param_name == 'sort_by'
                        if f.type == 'price_range'
                          if f.min_value.value > 0 or f.max_value.value < f.range_max
                            assign has_active_filters = true
                          endif
                        else
                          if f.active_values.size > 0
                            assign has_active_filters = true
                          endif
                        endif
                      endunless
                    endfor
                  %}

                  {%- for f in collection.filters -%}
                    {% if f.type == 'price_range' and f.min_value.value > 0 or f.max_value.value < f.range_max %}
                      {% assign min = f.min_value.value %}
                      {% assign max = f.max_value.value %}
                      <div class="filter active-filter-item">
                        <span>
                          {{- f.label | escape }}: {{ min | money -}}
                          - {{ max | money -}}
                        </span>
                        <div
                          class="filter-close"
                          data-render-section-url="{{ f.url_to_remove }}"
                        >
                          {{- 'icon-close.svg' | inline_asset_content -}}
                        </div>
                      </div>
                    {% else %}
                      {% for v in f.active_values %}
                        <div class="filter active-filter-item">
                          <span>{{ f.label | escape }}: {{ v.label | escape -}}</span>
                          <div
                            class="filter-close"
                            data-render-section-url="{{ v.url_to_remove }}"
                          >
                            {{- 'icon-close.svg' | inline_asset_content -}}
                          </div>
                        </div>
                      {% endfor %}
                    {% endif %}
                  {%- endfor -%}

                  {% if has_active_filters %}
                    {% assign clear_filters_url = collection.url | append: '?sort_by=' | append: sort_by %}
                    <div class="filter active-filter-item active-filter-clear-all" data-render-section-url="{{ clear_filters_url }}">
                      <span>Clear all filters</span>
                    </div>
                  {% endif %}
                </div>

                <div class="product-grid-wrapper product-grid-{{ section.id }}" id="product-grid-{{ section.id }}">
                  <div id="loading-overlay-{{ section.id }}" class="loading-overlay"></div>
                  <div
                    class="product-grid"
                    {% if section.settings.enable_infinite_scroll %}
                      data-product-grid
                    {% endif %}
                  >
                    {%- if collection.products.size == 0 -%}
                      <p>Nothing Here</p>
                    {%- else -%}
                      {%- for product in collection.products -%}
                        {% render 'component-product-card',
                          card_product: product,
                          show_vendor: section.settings.show_vendor,
                          enable_swatches: section.settings.enable_swatches,
                          swatch_trigger: section.settings.swatch_trigger,
                          swatch_type: section.settings.swatch_type,
                          quick_add: section.settings.quick_add,
                          section_id: section.id,
                          button_text_color: section.settings.button_text_color,
                          button_border_color: section.settings.button_border_color
                        %}
                      {%- endfor -%}
                    {%- endif -%}
                  </div>
                  {% if section.settings.enable_infinite_scroll %}
                    <infinite-scroll style="display: flex; justify-content: center;">
                      {%- if paginate.next -%}
                        <a
                          style="color: currentColor; text-decoration: none; pointer-events: none; margin-top: 30px;"
                          href="{{ paginate.next.url }}&section_id={{ section.id }}"
                        ></a>
                      {%- endif -%}
                    </infinite-scroll>
                  {% else %}
                    {%- if paginate.pages > 1 -%}
                      {% render 'component-pagination', paginate: paginate, anchor: '#product-grid-' | append: section.id %}
                    {%- endif -%}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {%- endpaginate -%}
      </div>
    </collection-info>
    </div>
  </div>
</div>
<script src="{{ 'section-collection.js' | asset_url }}" type="module"></script>
<script src="{{ 'component-product-card.js' | asset_url }}" type="module"></script>
<script src="{{ 'component-filters-price-range.js' | asset_url }}" type="module"></script>

{% if section.settings.enable_infinite_scroll %}
  <script src="{{ 'component-infinite-scroll.js' | asset_url }}" type="module"></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_swatches",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_swatches.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_swatches.info"
    },
    {
      "type": "select",
      "id": "swatch_type",
      "label": "t:sections.main-collection-product-grid.settings.swatch_type.label",
      "options": [
        {
          "value": "color",
          "label": "t:sections.main-collection-product-grid.settings.swatch_type.options__1.label"
        },
        {
          "value": "image",
          "label": "t:sections.main-collection-product-grid.settings.swatch_type.options__2.label"
        }
      ],
      "default": "image",
      "info": "t:sections.main-collection-product-grid.settings.swatch_type.info"
    },
    {
      "type": "text",
      "id": "swatch_trigger",
      "label": "Swatch trigger",
      "default": "Color",
      "info": "Enter the product option name to use for variant swatches (e.g. 'Color', 'Size', etc.)"
    },
    {
      "type": "header",
      "content": "Pagination"
    },
    {
      "type": "checkbox",
      "id": "enable_infinite_scroll",
      "default": true,
      "label": "Enable infinite scroll",
      "info": "Enable infinite scroll for the collection page"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.button_styling.content"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:sections.main-collection-product-grid.settings.button_text_color.label",
      "default": "#838383"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "t:sections.main-collection-product-grid.settings.button_border_color.label",
      "default": "#838383"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:sections.main-collection-product-grid.settings.button_background_color.label",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "collapse_filters",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.collapse_filters.label",
      "info": "t:sections.main-collection-product-grid.settings.collapse_filters.info"
    },
    {
      "type": "checkbox",
      "id": "show_filter_count",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_filter_count.label",
      "info": "t:sections.main-collection-product-grid.settings.show_filter_count.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
