{% style %}
  #shopify-section-{{ section.id }} {
    position: {% unless section.settings.sticky_header_type == 'none' %}sticky{% else %}relative{% endunless %};
    top: 0;
    background: #fff;
    width: 100%;
    {% if section.settings.show_line_separator %}
      border-bottom: 1px solid rgb(var(--color-foreground), 0.2);
    {% endif %}
    z-index: 9;
    transition: top 150ms ease-out;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }

  {% if section.settings.sticky_header_type == 'on-scroll-up' %}
    #shopify-section-{{ section.id }}
    .header-sticky {
      top: calc(-1 * var(--header-height));
    }
  {% endif %}

  #main-header {
    display: grid;
    grid-template-columns: {% if section.settings.logo_position == 'middle-center' or section.settings.logo_position == 'top-center' %}
      1fr auto 1fr
    {% else %}
    auto 1fr auto
  {% endif %};
    align-items: center;
    gap: 0 3rem;
    margin-inline: auto;
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  #main-header .header-shop_link {
    text-decoration: none;
    word-break: break-word;
    color: rgb(var(--color-foreground));
  }
  #main-header .header-shop_name {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    line-height: 1;
  }
  {% if section.settings.logo_position == 'middle-center' %}
    #main-header nav {
      grid-area: 1 / 1;
    }
  {% elsif section.settings.logo_position == 'top-left' or section.settings.logo_position == 'top-center' %}
  #main-header nav {
    grid-area: 2 / span 3;
    padding-block: {{ section.settings.padding_bottom }}px;
  }
  {% endif %}
  #main-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  .header-menu-position-left ul {
    justify-content: flex-start;
  }
  .header-menu-position-center ul {
    justify-content: center;
  }
  .header-menu-position-right ul {
    justify-content: flex-end;
  }
  #main-header .header-drawer_icons,
  #main-header .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
    border: 0;
    background: transparent;
    color: rgba(var(--color-foreground), 0.75);
    font-size: inherit;
  }
  #main-header .menu-toggle svg {
    width: 12px;
    height: auto;
    transition: 300ms ease;
  }
  #main-header .menu-toggle.menu-open svg {
    transform: scaleY(-1);
  }
  .header-logo {
    width: auto;
    height: {{ settings.logo_height | append: 'px' }};
    transition: height 300ms ease;
  }
  {% if section.settings.sticky_header_type == 'reduce-logo-size' %}
    #shopify-section-{{ section.id }}
    .scrolled-header .header-logo {
      height: {{ settings.logo_height | minus: 10 | append: 'px' }};
    }
  {% endif %}
  #main-header nav a {
    text-decoration: none;
    color: inherit;
  }
  #header-cart-bubble {
      position: relative;
      margin-right: 6px;
      border: 0;
      background: transparent;
      padding: 0;
      cursor: pointer;
  }
  #header-cart-bubble svg, .header-actions_account svg {
    width: 25px;
  }
  [data-cart-count] {
    position: absolute;
    display: grid;
    place-items: center;
    top: -2px;
    right: -6px;
    width: 16px;
    height: 16px;
    color: rgb(var(--color-background));
    background: rgb(var(--color-foreground));
    font-size: 10px;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-actions,
  .header-actions > * {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    color: inherit;
    {% if section.settings.logo_position == 'top-left' or section.settings.logo_position == 'top-center' %}
      grid-area: 1 / 3;
    {% endif %}
  }

  #header-actions_search {
    cursor: pointer;
  }
  #header-search {
    position: absolute;
    inset: 0;
    color: rgb(var(--color-foreground));
    background: rgb(var(--color-background));
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #header-search.active {
    display: flex;
  }

  {%- if settings.predictive_search_enabled -%}
    #header-search predictive-search {
      position: relative;
      display: flex;
      width:min(750px, calc(100% - 3.5rem))
    }
    #predictive-search-wrapper {
      position: absolute;
      top: 100%;
      left: 0;
      background: rgb(var(--color-background));
      border: 1px solid rgba(var(--color-foreground),var(--color-background));
      border-top: 0;
      width: calc(100% - 2px);
      max-height: 80vh;
      overflow-y: auto;
      z-index: 1000;
    }
  {%- endif -%}

  #header-search form {
    position: relative;
    border: 1px solid rgb(var(--color-foreground), 0.2);
    width: min(750px, 100%);
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-inline: 10px;
  }

  #header-search form input {
    width: 100%;
    border: 0;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline: none;
    box-shadow: none;
  }

  #header-search form input:-internal-autofill-selected{
    background-color: transparent;
  }

  /* clears the 'X' from Internet Explorer */
  #header-search form input[type='search']::-ms-clear,
  #header-search form input[type='search']::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
  }

  #header-search .reset__button {
    position: relative;
    border: 1px solid rgba(var(--color-foreground),.2) !important;
    border-radius: 10rem;
    min-width: 16px;
    height: 16px;
    display: grid;
    place-items: center;
    align-self: center;
    margin: 0;
    margin-right: 15px;
  }

  #header-search .reset__button::before {
    content: '';
    position: absolute;
    right: -15px;
    width: 1px;
    height: calc(100% + 10px);
    background: rgba(var(--color-foreground),.08);
  }

  #header-search .reset__button svg.icon-close {
    width: 10px !important;
    height: auto;
  }

  /* clears the 'X' from Chrome */
  #header-search form input[type='search']::-webkit-search-decoration,
  #header-search form input[type='search']::-webkit-search-cancel-button,
  #header-search form input[type='search']::-webkit-search-results-button,
  #header-search form input[type='search']::-webkit-search-results-decoration {
      display: none;
  }
  #header-search button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
  }

  #header-search svg {
    width: 20px;
    color: rgb(var(--color-foreground));
  }

  @media (min-width: 1025px) {
    {% unless section.settings.menu_type_desktop == 'drawer' %}
      #header-drawer {
        display: none;
      }
    {% endunless %}
  }

  @media (max-width: 1024px) {
    #main-header > nav,
    .header-actions_account,
    .header-actions_localization {
      display: none;
    }
    #main-header {
      grid-template-columns:
      {% if section.settings.mobile_logo_position == 'center' %}
        1fr auto 1fr
      {% else %}
        auto 1fr auto
      {% endif %};
      padding: {{ section.settings.padding_top | divided_by: 1.5 }}px 20px {{ section.settings.padding_bottom | divided_by: 1.5 }}px;
    }
    #header-search {
      gap: .7rem;
    }
    #header-search predictive-search {
      position: static;
    }
    #predictive-search-wrapper {
        border-top: 1px solid rgba(var(--color-foreground),var(--color-background));
    }
  }
  @media (min-width: 1025px) {
    .header-menu-position-center {
      display: grid;
    }
    .header-menu-position-center .header-logo-container,
    .header-menu-position-center .header-actions
    {
      min-width: 160px;
    }
  }
{% endstyle %}

{% capture header_search %}
  <div id="header-actions_search" @click="searchOpen = !searchOpen; $nextTick(() => { if (searchOpen) $refs.searchInput.focus() })">
    {{ 'icon-search.svg' | inline_asset_content }}
  </div>
{% endcapture %}

<div
  class="color-{{ section.settings.color_scheme }}"
  {% if settings.cart_type == 'drawer' %}
    x-data="{ cartOpen: false }" @cart-open.window="cartOpen = true"
  {% endif %}
>
  <header
    {% if section.settings.menu_position == 'center' %}
      class="header-menu-position-center page-width"
    {% else %}
      class="page-width"
    {% endif %}
    id="main-header"
    x-data="{ searchOpen: false, searchTerm: '{{ search.terms | escape }}' }"
    @click.outside="searchOpen = false"
  >
    {% render 'component-nav-drawer',
      menu: section.settings.menu,
      menu_color_scheme: section.settings.menu_color_scheme,
      enable_country_selector: section.settings.enable_country_selector,
      enable_language_selector: section.settings.enable_language_selector,
      enable_customer_avatar: section.settings.enable_customer_avatar
    %}

    {% if section.settings.logo_position == 'top-center' or section.settings.menu == blank %}
      {{ header_search }}
    {% endif %}

    {% if request.page_type == 'index' %}<h1 class="header-logo-container" style="margin: 0">{% endif %}
    <a href="{{ routes.root_url }}" class="header-shop_link" style="display: flex">
      {% if settings.logo != blank %}
        {{ settings.logo | image_url: width: 900 | image_tag: class: 'header-logo' }}
      {% else %}
        <span class="header-shop_name">{{ shop.name }}</span>
      {% endif %}
    </a>
    {% if request.page_type == 'index' %}</h1>{% endif %}

    {% if section.settings.menu != blank and section.settings.menu_type_desktop != 'drawer' %}
      <nav class="header-menu-position-{{ section.settings.menu_position }}">
        {% if section.settings.menu_type_desktop == 'dropdown' %}
          {% render 'component-nav-dropdown',
            nav_style: 'dropdown',
            menu: section.settings.menu,
            menu_color_scheme: section.settings.menu_color_scheme
          %}
        {% elsif section.settings.menu_type_desktop != 'drawer' %}
          {% render 'component-nav-megamenu',
            menu: section.settings.menu,
            menu_color_scheme: section.settings.menu_color_scheme
          %}
        {% endif %}
      </nav>
    {% endif %}

    <div class="header-actions">
      {% if section.settings.enable_country_selector or section.settings.enable_language_selector %}
        <div class="header-actions_localization">
          {%- render 'component-localization-form',
            enable_country_selector: section.settings.enable_country_selector,
            enable_language_selector: section.settings.enable_language_selector,
            menu_color_scheme: section.settings.menu_color_scheme
          -%}
        </div>
      {% endif %}

      {% unless section.settings.logo_position == 'top-center' or section.settings.menu == blank %}
        {{ header_search }}
      {% endunless %}

      {% if shop.customer_accounts_enabled and section.settings.enable_customer_avatar %}
        <a
          class="header-actions_account"
          href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
          rel="nofollow"
        >
          {{- 'icon-account.svg' | inline_asset_content -}}
        </a>
      {% endif %}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a
        id="header-cart-bubble"
        {%- if settings.cart_type == 'drawer' -%}
          @click.prevent="cartOpen = !cartOpen"
        {%- else -%}
          href="{{ routes.cart_url }}"
        {%- endif -%}
      >
        {{- 'icon-cart.svg' | inline_asset_content -}}
        <div data-cart-count data-ajax-cart-bind="item_count">{{ cart.item_count }}</div>
      </a>
    </div>

    <div id="header-search" :class="{ 'active': searchOpen }">
      {%- if settings.predictive_search_enabled -%}
        {%- render 'component-predictive-search', context: 'header' -%}
      {%- else -%}
        <form action="{{ routes.search_url }}" method="get" role="search">
          <input
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="Search"
            x-model="searchTerm"
            x-ref="searchInput"
            x-show="searchOpen"
            @focus="$event.target.select()"
          >
          <button
            type="reset"
            class="reset__button"
            aria-label="Clear search term"
            @click="searchTerm = ''"
            x-show="searchTerm.length > 0"
            x-transition
            x-cloak
          >
            {{- 'icon-close.svg' | inline_asset_content -}}
          </button>
          <button aria-label="Search">
            {{- 'icon-search.svg' | inline_asset_content -}}
          </button>
        </form>
      {%- endif -%}
      <button id="close-header-search" @click="searchOpen = !searchOpen">
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
    </div>
  </header>

  {%- if settings.cart_type == 'notification' -%}
    {%- render 'component-cart-notification',
      color_scheme: section.settings.color_scheme,
      desktop_menu_type: section.settings.menu_type_desktop
    -%}
  {%- endif -%}

  {%- if settings.cart_type == 'drawer' -%}
    {%- render 'component-cart-drawer' -%}
  {%- endif -%}
</div>

<script>
  const header = document.getElementById('shopify-section-{{ section.id }}');
  let lastScrollTop = 0;

  function updateHeaderHeight() {
    const headerHeight = header.offsetHeight;
    document.documentElement.style.setProperty('--header-height', `${headerHeight}px`);
  }

  window.addEventListener('resize', updateHeaderHeight);
  window.addEventListener('load', updateHeaderHeight);

  window.addEventListener('scroll', () => {
    const currentScroll = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScroll > 0) {
      header.classList.add('scrolled-header');
    } else {
      header.classList.remove('scrolled-header');
    }

    if (currentScroll > lastScrollTop) {
      header.classList.add('header-sticky');
    } else if (currentScroll < lastScrollTop) {
      header.classList.remove('header-sticky');
    }

    if (currentScroll === 0) {
      header.classList.remove('header-sticky');
    }

    lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
  });
</script>
{% if section.settings.enable_country_selector or section.settings.enable_language_selector %}
  <script src="{{ 'component-localization-form.js' | asset_url }}" type="module"></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu position",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
