{%- if predictive_search.performed -%}
  <div id="predictive-search-results">
    <div id="predictive-results__wrapper">
      {%- if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 -%}
        <div>
          <h3>Suggestions</h3>
          <ul role="listbox" aria-labelledby="predictive-search-suggestions">
            {%- for query in predictive_search.resources.queries -%}
              <li role="option">
                <a
                  href="{{ query.url }}"
                  class="predictive-search__item"
                  tabindex="-1"
                >
                  {{ query.styled_text }}
                </a>
              </li>
            {%- endfor -%}
            {%- for collection in predictive_search.resources.collections -%}
              <li role="option">
                <a
                  href="{{ collection.url }}"
                  class="predictive-search__item"
                  tabindex="-1"
                >
                  {{ collection.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
      {%- if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 -%}
        <div>
          <h3>Articles and Pages</h3>
          <ul role="listbox" aria-labelledby="predictive-search-articles">
            {%- for page in predictive_search.resources.pages -%}
              <li role="option">
                <a
                  href="{{ page.url }}"
                  class="predictive-search__item "
                  tabindex="-1"
                >
                  {{ page.title | escape }}
                </a>
              </li>
            {%- endfor -%}
            {%- for article in predictive_search.resources.articles -%}
              <li role="option">
                <a
                  href="{{ article.url }}"
                  class="predictive-search__item"
                  tabindex="-1"
                >
                  {{ article.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if predictive_search.resources.products.size > 0 -%}
        <div class="predictive-search__products">
          <h3>Products</h3>
          <ul role="listbox" aria-labelledby="predictive-search-products">
            {%- for product in predictive_search.resources.products -%}
              <li role="option">
                <a href="{{ product.url }}">
                  {%- if product.featured_media != blank -%}
                    <img
                      class="predictive-search__image"
                      src="{{ product.featured_media | image_url: width: 150 }}"
                      alt="{{ product.featured_media.alt | escape }}"
                      width="50"
                      height="{{ 50 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
                    >
                  {%- endif -%}
                  <div class="predictive-search__item-content">
                    {%- if settings.predictive_search_show_vendor -%}
                      <small class="predictive-search__item-vendor">
                        {{ product.vendor }}
                      </small>
                    {%- endif -%}
                    <p class="predictive-search__item-heading">{{ product.title | escape }}</p>
                    {%- if settings.predictive_search_show_price -%}
                      {% render 'component-product-price', product: product, use_variant: true, show_badges: false %}
                    {%- endif -%}
                  </div>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>

    <a href="{{ routes.search_url }}?q={{ predictive_search.terms }}">
      <span>Search for “{{ predictive_search.terms }}”</span>
      {{- 'icon-arrow.svg' | inline_asset_content -}}
    </a>
  </div>
{%- endif -%}
