{% comment %} /sections/shop-by-category.liquid {% endcomment %}

{{ 'section-shop-by-category.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-shop-by-category.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign blocks_to_show = section.blocks.size
  assign heading = section.settings.heading
  assign first_block = section.blocks.first
  assign custom_image = first_block.settings.custom_image
  assign first_collection = first_block.settings.collection
  assign collection_image = custom_image | default: first_collection.featured_image
  assign button_type = section.settings.button_type
-%}

{%- if blocks_to_show > 0 -%}
  <shop-by-category
    class="color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
    style="
      --button: var(--color-{{ button_type }});
      --button-text: var(--color-{{ button_type }}-text);
    "
  >
    <div class="page-width">
      <div class="shop-by-category__container">
        <div class="shop-by-category__image-wrapper {% if collection_image == blank %}blank{% endif %}">
          {%- if collection_image != blank -%}
            <img
              srcset="
                {%- if collection_image.width >= 300 -%}{{ collection_image | image_url: width: 300 }} 300w,{%- endif -%}
                {%- if collection_image.width >= 600 -%}{{ collection_image | image_url: width: 600 }} 600w,{%- endif -%}
                {%- if collection_image.width >= 900 -%}{{ collection_image | image_url: width: 900 }} 900w,{%- endif -%}
                {{ collection_image | image_url }} {{ collection_image.width }}w
              "
              src="{{ collection_image | image_url: width: 600 }}"
              sizes="(min-width: 750px) 50vw, 100vw"
              alt="{{ collection_image.alt | default: first_collection.title | escape }}"
              loading="lazy"
              width="{{ collection_image.width }}"
              height="{{ collection_image.height }}"
              class="shop-by-category__featured-image"
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        <div class="shop-by-category__content">
          {% if heading != blank %}
            <h3 class="shop-by-category__title">{{ heading }}</h3>
          {% else %}
            <h3 class="shop-by-category__title">Shop By Category</h3>
          {% endif %}
          <ul class="shop-by-category__collections-list">
            {% for block in section.blocks %}
              {% assign collection_title = block.settings.custom_title | default: block.settings.collection.title %}
              {% assign collection_url = block.settings.collection.url %}
              {% assign collection_featured_image = block.settings.custom_image | default: block.settings.collection.featured_image %}
              {% if collection_title != blank and collection_url != blank %}
                <a
                  href="{{ collection_url }}"
                  {{ block.shopify_attributes }}
                  data-featured-image="{{ collection_featured_image | image_url: width: 800 }}"
                  class="shop-by-category__collection-item"
                >
                  {{ collection_title }}
                  <div class="shop-by-category__collection-item-icon">
                    <span aria-hidden="true">{{ 'icon-arrow-next.svg' | inline_asset_content }}</span>
                  </div>
                </a>
              {% else %}
                <li {{ block.shopify_attributes }} class="shop-by-category__collection-item">
                  Collection
                  {{ forloop.index }}
                  <div class="shop-by-category__collection-item-icon">
                    {{ 'icon-arrow-next.svg' | inline_asset_content }}
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </shop-by-category>
{%- endif -%}

{% schema %}
{
  "name": "Shop By Category",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Color Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button Style",
      "options": [
        { "value": "button", "label": "Primary" },
        { "value": "secondary-button", "label": "Secondary" }
      ],
      "default": "button"
    },
    {
      "type": "header",
      "content": "Spacing Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom Title"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop By Category",
      "blocks": [
        { "type": "collection" },
        { "type": "collection" },
        { "type": "collection" },
        { "type": "collection" },
        { "type": "collection" },
        { "type": "collection" }
      ]
    }
  ]
}
{% endschema %}
